<div class="container">
  <h1>About</h1>
  <hr>

<div class="text-left">
<h3 class="mb-3">History</h3>

<%= image_tag "coffee-round", alt: "alttext", class:"rounded-img" %>
<hr>
<p>Established in 1983, Coffee Shop has been dedicated to providing you with the best in coffee.</p>

</div>
<hr>
